* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body {
    font-family: sans-serif;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}

h1 {
    margin: 1rem;
}

img {
    max-width: 100%;
}

p {
    margin: 1rem;
}

button {
    font-size: 2em;
    margin: 1rem;
    padding: 0.25rem 2rem;
    background: var(--tg-theme-button-color)
    color: var(--tg-theme-button-text-color)
}